$primary-color: #8ed4d9;
$accent-color: #d9564d;
$second-accent-color: #fbe373;
$text-color: #FFFFFF;

// Primary Button Colors
$btn-primary-default: #333333;
$btn-primary-hover: #666666;
$btn-primary-disabled: #c3c3c3;

// Secondary Button Colors
$btn-secondary-default: #c3c3c3;
$btn-secondary-hover: #a6a6a6;
$btn-secondary-disabled: #888888;

// Fonts